.App {
  text-align: center;
}

.App-intro {
  font-size: large;
}

header {
  height: 50px;
  background-color: #fafafb;
  border-top: 3px solid #f48024;
  border-bottom: 1px solid #e2e2e3;
  display: flex;
  flex-direction: initial;
  padding-left: 300px;
}

footer {
  background-color: #242729;
  height: 228px;
}

.logo {
  width: 150px;
  height: 30px;
  margin-top: 7px;
  margin-left: 8px;
}

.search {
  width: 318px;
  height: 18px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 1px solid #c8ccd0;
  border-radius: 3px;
  margin-top: 6px;
  margin-left: 20px;
  font-size: 12px;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 27px;
  text-align: left;
  font-weight: 100;
}

a  {
    font-family: Arial, Helvetica, sans-serif;
  }

h3 {
  font-family: Arial, Helvetica, sans-serif;
}


.nav-container {
  height: 880px;
}

a {
  color: #00a1e2;
  text-decoration: none;
  cursor: pointer;
}

.sidebar {
  border-right: 1px solid #c8ccd0;
  float: left;
  margin-right: 30px;
  font-size: 15px;
  width: 400px;
  font-family: Arial, Helvetica, sans-serif;
  height: 880px;
}

.Nav {
  height: 880px;
}

.sidebar a {
  color: #6a737c;
}


li {
  list-style-type: none;
  padding-right: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.flex {
  display: flex;
  justify-content: initial;
}

body {
  min-height: 880px;
}

.headline {
  text-align: left;
  font-size: 16px;
}

.headlinebox {
  border: 1px solid #6a737c;
  padding: 30px;
}

.space {
  margin-left: 400px;
}